:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --background-context-color: #f5f4fa;
  --rare-text-color: #ffffff;
}
/* Задали глобальное нормальное наследование */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Задали основные свойства: цвет, шрифт и запасной шрифт */
body {
  font-family: Roboto, sans-serif;
  background-color: var(--rare-text-color);
  color: var(--primary-text-color);
}
/* Убрали подчеркивания со ссылок */
a {
  text-decoration: none;
}
/* Убрали точки со списков */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Скрыли ненужные семантические заголовки */
.hidden {
  visibility: hidden;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Добавили кнопке наследие */
button {
  font-family: inherit;
}
/* Задали общий вспомогательный класс "контейнер" для центрирования и ограничения контента по ширине */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid lightcoral;
}
/* Добавили нужный паддинг */
.section {
  width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Задали ширину Хеадер */
.header {
  width: 1600px;
  border-bottom: 1px solid #ececec;
}
.top-nav {
  display: flex;
  align-items: center;
}
/* Оформили логотип в Хеадер*/
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  margin-right: 93px;
}
.site-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Задали флекс для навигации */
.site-nav {
  display: flex;
}
/* Задали отступы */
.site-nav .item + .item {
  margin-left: 50px;
}
/* Можно сделать еще так .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.auth-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
/* Добавили стили навигации в Хеадер*/
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* Добавили стили контактов в Хеадер */
.adress-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
/* Оформили все нужные элементы синим цветом */
.color-logo {
  color: var(--accent-color);
}
.contact-link.current {
  color: var(--accent-color);
}
/* Оформили главный заголовок */
.main {
  background-color: #2f303a;
  width: 1600px;
}
.main-section {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
  padding-top: 200px;
}
/* Оформили заголовки услуг */
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Оформили текст услуг */
.text-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Оформили остальные заголовки */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.service {
  display: flex;
}
/* Оформили стили имен и профессий */
.command {
  background-color: #f5f4fa;
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Оформили рекламу */
.title-adverb {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Добавили стили ссылок в Футер */
.link-bottom {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-bottom:hover,
.link-bottom:focus {
  color: var(--rare-text-color);
}
/* Оформили заглавные буквы согласно макету */
.main-section.upper {
  text-transform: uppercase;
}
.title.upper {
  text-transform: uppercase;
}
/* Оформили стили списка кнопок в Портфолио*/
.style-scope-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-context-color);
  border-color: transparent;
  cursor: pointer;
}
.style-scope-button:hover,
.style-scope-button:focus {
  color: var(--rare-text-color);
  background-color: var(--accent-color);
}
/* Оформили стиль кнопки в Студия */
.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
  cursor: pointer;
  margin-bottom: 200px;
  margin-left: 500px;
}
.button-primary {
  display: inline-block;
}
/* Оформили ховер и фокус кнопке в Студия */
.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}
/* Оформили логотип в Футер */
.logo-bottom {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--rare-text-color);
}
/* Задали цвет и ширину в футер */
.footer {
  width: 1600px;
  background-color: #2f303a;
}
